@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Playwrite+AU+NSW:wght@100..400&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=SUSE:wght@100..800&family=Tangerine:wght@400;700&display=swap');
.playwrite-au-nsw {
  font-family: "Playwrite AU NSW", cursive;
  font-optical-sizing: auto;
  font-weight: 590;
  font-style: normal;
}

html{
    background-color:whitesmoke;
    font-family:suse;
    color:#120b17;
}

* {
    margin-left:0%;
    margin-right: 0%;
    justify-content:center;
}
.scroller{
    display:none;
}

.top{
    text-align:center;
}

.alert{
    margin-bottom:unset;
    margin-top:auto;
}

.container {
    display:flex;
    align-items:center;
    row-gap: 1.2rem;
    margin-top: inherit;
    margin-left: 0%;
    margin-right: 0%;
    list-style:none;
    margin-bottom:unset;
    background-color: darkgray;
    border: thick solid darkgray;
}

img :not(.logo){
    position: absolute;
    top:0;
    left:0;
    width:200%;
    height:auto;
}

.include > h1{
    color:white;
    filter: drop-shadow(3px 2px #5a525f);
}
.container :not(h3,img){
    justify-content: space-evenly;
    margin: 10px;
}

.container >a{
    flex-grow:1;
    justify-content: space-evenly;
}
.block{
    justify-content: space-evenly;
}

h1 {
  font-weight: inherit;
  font-size: 25px;
}
h2 {
  font-weight: inherit;
  font-size: medium;
}
h3 {
  font-weight: inherit;
  font-size: medium;
}
p {
  font-weight: inherit;
  font-size: vw;
}

.title {
    font-weight: bolder;  
}

article{
    margin:20px;
    font-size:large;
}

hr{
    color:#120b17;
}

@media (max-width:1050px){
    /*add scrollbar
     * change font size to responsive*/
    .header :not(img,title) {
        white-space: nowrap;
        overflow-x: auto;
        width: inhert;
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
    .header::webkit-scrollbar{
        width: 0;
        height: 0;
    }
    
    img{
        overflow-x:unset;
    }
    .header > .title{
        overflow-x:unset;
    }
    .header > .container {
        overflow:scroll;
    }
    .container{
        padding-right:9px;
    }
    .scroller{
        display:unset;
        transform: translate(48.5vw);
        margin:unset;
        padding:unset;
        position:absolute;
    }
    
}

@media (max-width:500px){
    .include{
        height:45vh;
    }
    
    .include > .line-top{
        margin-top:50%;
    }
}